@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

.app {
  display: flex;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  width: 20%;
  overflow-y: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topbar {
  height: 10%;
}

.main-routes {
  height: 90%;
  overflow-y: auto;
}
